#boxContainer {
    display: grid;
    gap: 5px;
}

.box {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(41, 41, 41);
}

h1 {
    font-family: "Press Start 2P", system-ui;;
    text-align: center;
    font-size: 30px;
}

#instructions {
    font-family: "Roboto", sans-serif;
    line-height: 1.5rem;
    font-size: 18px;
}

#reset {
    background-color: #FF6DC6;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
  
    &:hover {
      background-color: #F70A8D; /* Darker green on hover */
    }
  }